@model ExpensesViewModel
@{
    ViewBag.Title = "User Expenses";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section HeaderSection {
    <link href="~/Content/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/loader/loader.css" rel="stylesheet" />
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
}

@section Breadcramps {
    <ol class="breadcrumb">
        <li><a href="@Model.UsersUrl"><i class="fa fa-users"></i> Users</a></li>
        <li class="active">@Model.UserFullName</li>
    </ol>
}


<div class="row">
    <div class="col-md-5">
        <div class="box" id="expneses-box">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-2">
                        <button id="create-expense" class="btn btn-default"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" form="export-to-excel"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                    <form action="@Model.ExportToExcelUrl" id="export-to-excel" method="post">
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="startDate" id="from" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="endDate" id="to" />
                        </div>
                    </form>
                                        
                </div>
                <div class="box-tools pull-right">

                </div>
            </div>
            <div class="box-body" id="expneses-box">
                <table id="expnese-table" class="table table-bordered table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Expense Caption</th>
                            <th>Amount (₾)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="expenses-body">
                        @foreach (var item in Model.ExpenseItems)
                        {
                            <tr>
                                <td>@item.ExpenseCaption</td>
                                <td>@item.Amount</td>
                                <td>
                                    <a href="@item.UpdateUrl" class="btn btn-xs btn-warning update-expense" data-expense-caption="@item.ExpenseCaption" data-amount="@item.Amount"> <i class="fa fa-pencil"></i> Edit</a>
                                    <a href="@item.DeleteUrl" class="btn btn-xs btn-danger delete-btn"> <i class="fa fa-trash-o"></i> Delete</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Budget</h3>
                        <div class="box-tools pull-right">

                        </div>
                    </div>
                    <div class="box-body">
                        <div class="callout callout-success text-center">
                            <h2 id="budget">@Model.UserBudget ₾</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Expenses</h3>

                        <div class="box-tools pull-right">

                        </div>
                    </div>
                    <div class="box-body">
                        <div class="callout callout-warning text-center">
                            <h2 id="expense-sum">@Model.ExpensesSum ₾</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Money Left</h3>

                        <div class="box-tools pull-right">

                        </div>
                    </div>
                    <div class="box-body">
                        <div class="callout callout-danger text-center">
                            <h2 id="money-left">@Model.MoneyLeft ₾</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="hidden" id="expense-create-update-form">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="expense-caption">Expense Caption</label>
                <input type="text" class="form-control" id="expense-caption" placeholder="Enter expense caption">
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" class="form-control apply-numeric-input" id="amount" placeholder="Enter amount">
            </div>
        </div>
    </div>
</div>


@section FooterSection {
    <script>
        var createUrl = "@Model.CreateExpenseUrl";
        var filterExpenseUrl = "@Model.FilterExpenseUrl";
        var exportToExcelUrl = "@Model.ExportToExcelUrl";
    </script>
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/plugins/jQuery/jquery.numeric-input.js"></script>
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/plugins/toastr/toastrNotification.js"></script>
    <script src="~/Content/plugins/loader/loader.js"></script>
    <script src="~/Content/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Content/plugins/template7/template7.min.js"></script>
    <script src="~/Content/scripts/Users/Expenses.js"></script>
    <script id="expenses-template" type="text/Template7">
        {{#each ExpenseItems}}
        <tr>
            <td>{{ExpenseCaption}}</td>
            <td>{{Amount}}</td>
            <td>
                <a href="{{UpdateUrl}}" class="btn btn-xs btn-warning update-expense" data-expense-caption="{{ExpenseCaption}}" data-amount="{{Amount}}"> <i class="fa fa-pencil"></i> Edit</a>
                <a href="{{DeleteUrl}}" class="btn btn-xs btn-danger delete-btn"> <i class="fa fa-trash-o"></i> Delete</a>
            </td>
        </tr>
        {{/each}}
    </script>
}